@(title: String)(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")" />
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")" />
        <link rel="stylesheet" href="http://yastatic.net/jquery-ui/1.11.1/themes/smoothness/jquery-ui.min.css" />
        <script src="http://yastatic.net/jquery/2.1.1/jquery.min.js" type="text/javascript"></script>
        <script src="http://yastatic.net/jquery-ui/1.11.1/jquery-ui.min.js" type="text/javascript"></script>
    </head>
    <body>
        @content
    </body>
</html>
