@* tasks Template File *@
@(tasks: List[Application.Task], name: String, taskForm: Form[(String, String)])

@import helper._

@main("Todo list") {
    
    <h1>@tasks.size task(s)</h1>
    
    <ul>
        @tasks.map { task =>
            <li>
            	@task.actionDate
            	
                @task.label
                
                @form(routes.Application.deleteTask(name, task.id)) {
                	
                    <input type="submit" value="Delete">
                }
            </li>
        }
    </ul>
    
    <h2>Add a new task</h2>
    
    @form(routes.Application.createTask(name)) {
        
        @inputText(taskForm("label"))
        @inputText(taskForm("actionDate"), 'id -> "datepicker")  
        
        <input type="submit" value="Create">
    }
     <script>
		$(function() {
			$( "#datepicker" ).datepicker();
		});
	</script>
    
}